NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:5173
DATABASE_URL=postgres://weathermapz:weathermapz@localhost:5432/weathermapz
OPENROUTESERVICE_GEOCODING_BASE_URL=https://api.heigit.org/pelias/v1
OPENROUTESERVICE_DIRECTIONS_BASE_URL=https://api.openrouteservice.org/v2/directions
ORS_API_KEY=your_openrouteservice_api_key_here
